#set($layout = "/layout/default.vm")
<!-- banner -->
<div class="banner-1">
</div>
<!-- //banner -->
<!-- about -->
<div class="about">
	<div class="container">
		<div class="about-grids">
			<div class="col-md-5 wthree-about-left">
				<div class="wthree-about-left-info">
					<img src="${rc.contextPath}/media/images/g6.jpg" alt="" />
				</div>
			</div>
			<div class="col-md-7 agileits-about-right">
				<h5>Cras ac pellentesque diam. Mauris eu purus eu lectus fermentum dictum at ut dolor. Fusce id sodales turpis. Mauris facilisis tristique tincidunt. Phasellus hendrerit ligula dui, quis elementum mi condimentum at.</h5>
				<p>In hac habitasse platea dictumst. Aenean quis orci a erat convallis tincidunt. Curabitur blandit efficitur quam sit amet sagittis. Mauris aliquam, dui nec semper pellentesque, ex erat fringilla purus, ut placerat ante urna in nulla. Nullam est nunc, dictum dictum blandit sit amet, gravida et elit. Suspendisse ultricies mauris eu tortor blandit gravida.
				<span>Nullam eget viverra mi. Etiam eget posuere eros, id vulputate neque. Etiam interdum consequat erat, sed auctor neque ullamcorper a. Integer commodo eget risus vitae gravida. Nullam libero mi, condimentum quis finibus ut, consequat ac quam.</span>
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- offers -->
<div class="jarallax offers">
	<div class="container">
		<div class="agileits_heading_section">
			<h3 class="wthree_head two">Our Offers</h3>
			<p class="w3l_sub_para_agile">Curabitur quis egestas diam</p>
		</div>
		<div class="offers-grids">
			<div class="col-md-6 wthree-offers-left">
				<div class="offers-left-heading">
					<h4>Quisque eu ullamcorper dui. Nullam commodo ornare ipsum.</h4>
				</div>
				<div class="offers-left-grids">
					<div class="offers-number">
						<p>1</p>
					</div>
					<div class="offers-text">
						<p>Integer egestas non lorem eget aliquet. Nulla egestas felis et maximus elementum. Morbi a dui ac nunc mollis rhoncus. Mauris eu erat vitae enim congue placerat. Integer consequat aliquet facilisis. Phasellus ut venenatis nisi, et lobortis sem.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="offers-left-grids offers-left-middle">
					<div class="offers-number">
						<p>2</p>
					</div>
					<div class="offers-text">
						<p>Integer egestas non lorem eget aliquet. Nulla egestas felis et maximus elementum. Morbi a dui ac nunc mollis rhoncus. Mauris eu erat vitae enim congue placerat. Integer consequat aliquet facilisis.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="offers-left-grids">
					<div class="offers-number">
						<p>3</p>
					</div>
					<div class="offers-text">
						<p>Integer egestas non lorem eget aliquet. Nulla egestas felis et maximus elementum. Morbi a dui ac nunc mollis rhoncus. Mauris eu erat vitae enim congue placerat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 wthree-offers-right">
				<h5>Cras consequat et velit quis molestie. Etiam bibendum laoreet enim, nec malesuada ex fermentum et. Donec molestie diam nec lorem accumsan bibendum.</h5>
				<p>Vivamus est sem, pellentesque vel libero sit amet, varius tempor orci. Integer egestas metus vitae ultrices tristique. Fusce lectus dui, venenatis vitae justo nec, aliquet feugiat nunc. </p>
				<ul>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Phasellus sem leo, interdum quis risus</a></li>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Nullam egestas nisi id malesuada aliquet </a></li>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Donec condimentum purus urna venenatis</a></li>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Ut congue, nisl id tincidunt lobor mollis</a></li>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Cum sociis natoque penatibus et magnis</a></li>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Suspendisse nec magna id ex pretium</a></li>
					<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Ut congue, nisl id tincidunt lobor mollis</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- offers -->

<!-- about-team -->
<div class="team">
	<div class="container">
		<div class="agileits_heading_section">
			<h3 class="wthree_head">Our Team</h3>
			<p class="w3l_sub_para_agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="team-row-agileinfo">
			<div class="col-md-3 col-xs-6 team-grids">
				<div class="thumbnail team-agileits">
					<img src="${rc.contextPath}/media/images/t2.jpg" class="img-responsive" alt=""/>
					<div class="w3agile-caption ">
						<h4>Vaura Tegsner</h4>
						<p>Lorem</p>
						<div class="social-icon social-w3lsicon">
							<a href="#" class="social-button twit"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button fb"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 team-grids">
				<div class="thumbnail team-agileits">
					<img src="${rc.contextPath}/media/images/t1.jpg" class="img-responsive" alt=""/>
					<div class="w3agile-caption">
						<h4>Jark Kohnson</h4>
						<p>Lorem</p>
						<div class="social-icon social-w3lsicon">
							<a href="#" class="social-button twit"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button fb"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 team-grids">
				<div class="thumbnail team-agileits">
					<img src="${rc.contextPath}/media/images/t3.jpg" class="img-responsive" alt=""/>
					<div class="w3agile-caption">
						<h4>Chunk Erson</h4>
						<p>Lorem</p>
						<div class="social-icon social-w3lsicon">
							<a href="#" class="social-button twit"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button fb"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 team-grids">
				<div class="thumbnail team-agileits">
					<img src="${rc.contextPath}/media/images/t4.jpg" class="img-responsive" alt=""/>
					<div class="w3agile-caption">
						<h4>Goes Mehak</h4>
						<p>Lorem</p>
						<div class="social-icon social-w3lsicon">
							<a href="#" class="social-button twit"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button fb"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about-team -->