#set($layout = "/layout/default.vm")
<!-- banner -->
	<div class="banner-silder">
		<div id="JiSlider" class="jislider">
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
								<div class="agileits-banner-info">
								
									<h3>Sed blandit massa vel </h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>
									
								</div>	
							</div>
						</div>
				</li>
				<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
						<div class="container">
								<div class="agileits-banner-info">
								 
									<h3>Ipsum dolor sit amet</h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>
									
								</div>	
							</div>
						</div>
				</li>
				<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="agileits-banner-info">
								    
									<h3>Consectetur adipiscing elit</h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>
									
								</div>
								
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top3">
							<div class="container">
								<div class="agileits-banner-info">
								 
									<h3>Blandit massa vel mauris</h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>
									
								</div>
								
							</div>
						</div>
					</li>
			</ul>
		</div>
      </div>

<!-- //banner -->


	<!--about-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-6 about-left_w3ls_img">
				
			</div>
			<div class="col-md-6 about-right_w3ls">
		  <div class="about-top_agile_its">
			<h2>Welcome</h2>
			<h5>Cras tincidunt, augue vitae</h5>
			<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
			<span>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est</span>
	  </div>
	   </div>
	    <div class="clearfix"> </div>
    </div>
</div>
</div>
	<!-- //about -->
	<!-- Tooltip -->
				<div class="tooltip-content">

					<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Boat house</h4>
								</div>
								<div class="modal-body">
									<img src="${rc.contextPath}/media/images/g4.jpg" class="img-responsive" alt="Boat house">
									<h5>Fishing Season Now Open</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //Tooltip -->
<!--/services -->
	<div class="banner-bottom jarallax" id="services">
		   <div class="agile_overlay">
		     <div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head two">Services</h3>
				<p class="w3l_sub_para_agile">Curabitur quis egestas diam</p>
				
			</div>
			<div class="inner_w3l_agile_grids-1">
				<div class="col-md-4 w3ls_banner_bottom_grid">
					<div class="inner_w3l_agile_grids">
						<div class="w3l_banner_bottom_grid1">
							<i class="fa fa-ship" aria-hidden="true"></i>
						</div>
						<h4>Quis egestas diam</h4>
						<p>Curabitur quis egestas diam. Vivamus ut libero ut metus tempor scelerisque nec ac turpis.tempor scelerisque nec</p>
					</div>
				</div>
				<div class="col-md-4 w3ls_banner_bottom_grid">
					<div class="inner_w3l_agile_grids">
						<div class="w3l_banner_bottom_grid1">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</div>
						<h4>Tempor scelerisque</h4>
						<p>Curabitur quis egestas diam. Vivamus ut libero ut metus tempor scelerisque nec ac turpis.tempor scelerisque nec</p>
					</div>
				</div>
				<div class="col-md-4 w3ls_banner_bottom_grid">
					<div class="inner_w3l_agile_grids">
						<div class="w3l_banner_bottom_grid1">
							<i class="fa fa-plane" aria-hidden="true"></i>
						</div>
						<h4>Vivamus ut libero</h4>
						<p>Curabitur quis egestas diam. Vivamus ut libero ut metus tempor scelerisque nec ac turpis.tempor scelerisque nec</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
</div>
<!-- //services -->
	<!-- news -->
	<div class="news">
		<div class="container"> 
			<h3 class="wthree_head">News</h3>
			<p class="w3l_sub_para_agile">Curabitur quis egestas diam</p>
			<div class="w3-agileits-news-grids">
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Nov 24</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
							<p>2 comments</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
							<p>3482</p>
						</div>
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="${rc.contextPath}/media/images/g1.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
						<p>Donec justo ante, maximus et aliquam et, elementum ac purus. Nam eget ante ac velit laoreet sodales ut vel nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Nov 24</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
							<p>2 comments</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
							<p>3482</p>
						</div>
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="${rc.contextPath}/media/images/g2.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
						<p>Nam eget ante ac velit laoreet sodales ut vel nibh. Donec justo ante, maximus et aliquam et, elementum ac purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
			<div class="w3-agileits-news-grids  news-w3row2">
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Nov 24</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
							<p>2 comments</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
							<p>3482</p>
						</div>
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="${rc.contextPath}/media/images/g4.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
						<p>Donec justo ante, maximus et aliquam et, elementum ac purus. Nam eget ante ac velit laoreet sodales ut vel nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Nov 24</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
							<p>2 comments</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
							<p>3482</p>
						</div>
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="${rc.contextPath}/media/images/g3.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
						<p>Nam eget ante ac velit laoreet sodales ut vel nibh. Donec justo ante, maximus et aliquam et, elementum ac purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->

	<!-- stats -->
	<div class="stats jarallax" id="stats">
	  <div class="agile_overlay2">
	    <div class="container"> 
		<div class="agileits_heading_section">
				<h3 class="wthree_head two">Stats</h3>
				<p class="w3l_sub_para_agile">For Digital Life</p>
				
			</div>
			<div class="inner_w3l_agile_grids-1">
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
		    <i class="fa fa-picture-o" aria-hidden="true"></i>
			<p class="counter">1,546</p>
			<h3>Sodales ut</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
		    <i class="fa fa-smile-o" aria-hidden="true"></i>
			<p class="counter">14,345</p>
			<h3>Donec justo</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
		<i class="fa fa-trophy" aria-hidden="true"></i>
			<p class="counter">563</p>
			<h3>Velit laoreet</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
		<i class="fa fa-camera" aria-hidden="true"></i>
			<p class="counter">2,874</p>
			<h3>Ipsum dolor</h3>
		</div>
		<div class="clearfix"> </div>
	</div>
   </div>	
</div>
</div>
<!-- //stats -->
<!-- testimonials -->
<div class="testimonials">
	<div class="container">
		<h3 class="wthree_head">Testimonials</h3>
		<p class="w3l_sub_para_agile">Curabitur quis egestas diam</p>
		<ul id="flexiselDemo1">			
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="col-md-6 col-xs-6 wthree_testimonials_grid">
						<p><img src="${rc.contextPath}/media/images/left-quote.png" alt=" ">  Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
							eu aliquet massa. Suspendisse lacinia rutrum tincidunt. Integer id erat porta, 
							convallis.  <img src="${rc.contextPath}/media/images/right-quote.png" alt=" "></p>
					</div>
					<div class="col-md-6 col-xs-6 wthree_testimonials_grid_pos">
						<div class="col-md-5 col-xs-5 grid-test-w3l">
							<img src="${rc.contextPath}/media/images/te3.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 col-xs-7 wthree_testimonials_grid1">
							<h5>Michael Paul</h5>
							<p>Lorem</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="col-md-6 col-xs-6 wthree_testimonials_grid">
						<p><img src="${rc.contextPath}/media/images/left-quote.png" alt=" ">  Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
							eu aliquet massa. Suspendisse lacinia rutrum tincidunt. Integer id erat porta, 
							convallis.  <img src="${rc.contextPath}/media/images/right-quote.png" alt=" "></p>
					</div>
					<div class="col-md-6 col-xs-6 wthree_testimonials_grid_pos">
						<div class="col-md-5 col-xs-5 grid-test-w3l">
							<img src="${rc.contextPath}/media/images/te1.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 col-xs-7 wthree_testimonials_grid1">
							<h5>hael fgul</h5>
							<p>Lorem</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="col-md-6 col-xs-6 wthree_testimonials_grid">
						<p><img src="${rc.contextPath}/media/images/left-quote.png" alt=" ">  Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
							eu aliquet massa. Suspendisse lacinia rutrum tincidunt. Integer id erat porta, 
							convallis.  <img src="${rc.contextPath}/media/images/right-quote.png" alt=" "></p>
					</div>
					<div class="col-md-6 col-xs-6 wthree_testimonials_grid_pos">
						<div class="col-md-5 col-xs-5 grid-test-w3l">
							<img src="${rc.contextPath}/media/images/te2.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 col-xs-7 wthree_testimonials_grid1">
							<h5>Linda Carl</h5>
							<p>Lorem</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- //testimonials -->

